<a href="https://colab.research.google.com/github/arobi-coder/Developing--with-Python/blob/main/Class_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a=5
print(a)
a=a+5
print('a+5 ->',a)
a += 5
print('a+=5 ->',a)
a -= 5
print('a-=5 ->',a)
a /= 5
print('a/=5 ->',a)
a *= 5
print('a*=5 ->',a)

5
a+5 -> 10
a+=5 -> 15
a-=5 -> 10
a/=5 -> 2.0
a*=5 -> 10.0

In [ ]:
import math
print(math.pi)
print(math.pow(2,5))

3.141592653589793
32.0

In [ ]:
print(math.floor(1.22334))
print(math.ceil(1.22334))
print(round(1.22334))

1
2
1

In [ ]:
import math
a=5.6
a= math.floor(a)
print(a)

5

In [ ]:
# Grace Hopper( 1st compiler designer)( 1st debuging  word use koren)
a=5.6
a= int(a)
print(a)

5

In [ ]:
# Function
def float_to_int():
  print('Hello World')
float_to_int()

Hello World

In [ ]:
def hello_to_the_user(student):
  print(f'Hello {student}')
user='Arobi'
hello_to_the_user(user)
user='Shimu'
hello_to_the_user(user)
user='Bushra'
hello_to_the_user(user)
user='Shafa'
hello_to_the_user(user)

Hello Arobi
Hello Shimu
Hello Bushra
Hello Shafa

In [ ]:
def sum(a,b):
  return int(a) + int(b)
a= input('a:')
b= input('b:')
print(sum(a,b))
print(sum(a,2))
print(sum(a,5))

a:100
b:200
300
102
105

In [ ]:
sum(10,2)

12

In [ ]:
def dollar_convrsion_in_tk(dollar_rate, amount_in_dollar):
  return dollar_rate * amount_in_dollar
dr= 119.63
dollar= float(input('How much dollar you wanna convert:'))
#result = dollar_convrsion_in_tk(dr,dollar)
print(dollar_convrsion_in_tk(dr,dollar))

How much dollar you wanna convert:100
11963.0

In [ ]:
def sum_of_three(a,b,c):
  sum_of_two= sum(a,b)
  sum_of_all = sum(sum_of_two,c)
  return(sum_of_all)
total_sum= sum_of_three(5,100,-45)
print(total_sum)

60